<span class="background">
  <span class="bg-light border rounded centering">
    <section class="articles">
      <article>
        <figure>
          <img [src]="this.img" alt="Preview" title="Preview" />
        </figure>
        <div class="article-preview">
          <h2><strong>{{this.title}}</strong></h2>
          <p *ngIf="this.details">
            {{this.details}}
            <a href="#" class="read-more" title="Read More">
              Read more
            </a>
          </p>
        </div>
      </article>
    </section>
  </span>
</span>
