<span class="background">
  <span class="centering">
    <section class="articles">
      <article>
        <figure>
          <img [src]="this.img" alt="Preview" title="Preview" />
        </figure>
        <div class="article-preview">
          <h2>{{this.title}}</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Praesent in mauris eu tortor porttitor accumsan.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Praesent in mauris eu tortor porttitor accumsan.
            <a href="#" class="read-more" title="Read More">
              Read more
            </a>
          </p>
        </div>
      </article>
    </section>
  </span>
</span>
