<span class="background">
  <span class="centering">
    <section class="articles">
      <article>
        <figure>
          <img src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-
                          clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?w=900&t=
                          st=1687123388~exp=1687123988~hmac=f3410d0a5c2f20aec66c7d763c789bf0aae9c
                          5026366fe41ae7d18e05e7e406b" alt="Preview" title="Preview" />
        </figure>
        <div class="article-preview">
          <h2>My Blog 1</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Praesent in mauris eu tortor porttitor accumsan.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Praesent in mauris eu tortor porttitor accumsan.
            <a href="#" class="read-more" title="Read More">
              Read more
            </a>
          </p>
        </div>
      </article>
    </section>
  </span>
</span>
